<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Ejercicio de Vue.js</title>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> 
		<meta name="author" content="Tito Pizarro - titomauriciopizarroochoa@gmail.com" />

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    	<script src="vue.js"></script>
		 	 
	</head>
	
	<body id='app'>

		<div class="row">			
			<div class='col-md-6 col-md-offset-3'>

				<h1>Ejercicio de Vue.js | Género Dinámico</h1>

				<hr>
				
				<select v-model='gender' class='form-control'>
					<option value ='' selected>Escoge tu Género</option>
					<option value="m">Masculino</option>
					<option value="f">Femenino</option>		
				</select>

				<hr>

				<template v-if='name'> 
					<h2>
						{{ gender == 'm' ? 'Bienvenido' : 'Bienvenida' }}, {{ name }}
					</h2>
					<p>Espero que disfrutes tu vista</p>
					<p>Tunombre al reves es: {{ name.split('').reverse().join('') }}</p>
				</template>
				<p v-else>Por favor escribe tu Nombre</p>			

				<input type='text' v-model='name' class='form-control'>
				<p v-if='name == ""' class='alert alert-danger'>Este campo es obligatorio</p>
				<p v-if='name.length < 2' class='alert alert-danger'>El nombre no es válido</p>

				<hr>

				<pre> {{ $data | json }} </pre>

			</div>
		</div>

		<script type="text/javascript">

			new Vue({
				el: '#app',
				data: {
					name: '',
					gender: ''
				}
			});	

		</script>

	</body>
</html>